[flake8]
# Игнорировать виртуальное окружение и кэш
exclude =
    venv311,
    .git,
    __pycache__

# Максимальная длина строки
max-line-length = 300

# Игнорировать некоторые ошибки, которые не критичны
ignore =
    E203,  # пробел перед ':', часто конфликтует с black
    W503   # перенос перед бинарным оператором, тоже конфликтует с black
