[flake8]

# Максимальная длина строки
max-line-length = 300

# Игнорируем некоторые ошибки, которые не критичны для нас
ignore = E203, W503

# Игнорировать виртуальное окружение и кэш
exclude = 
    venv311/*,
    .git/*,
    __pycache__/*
